@import url('https://fonts.googleapis.com/css?family=Roboto|ZCOOL+KuaiLe');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

html, body {
    background: #212f3c;
}

#topNav {
    width: 100%;
    height: 50px;
    background: #1F618D;
    position: fixed;
    top: 0;
    z-index: 2;
    text-align: right;
}

#topNav input {
    margin-top: 5px;
    height: 40px;
    width: 26%;
    min-width: 200px;
    border-radius: 3px;
    border: 0;
    background: #5499C7;
    text-indent: 12.5px;
    color: #D4E6F1;
    float: left;
    font-size: 13px;
}

::placeholder {
    color: #1F618D;
}

#topNav > svg{
    width: 40px;
    margin: 6px 30px;
    margin-right: 34px;
    float: left;
    z-index: 4;
}

#sideNav {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #D5D8DC;
    border-right: 1px solid #2c3e50;
    background: #273746;
}

#topNav .userBox {
    color: #D5D8DC;
    text-align: left;
    width: 225px;
    height: 100%;
    display: inline-block;
}

#topNav .userBox img {
    margin: 8px 12.5px;
    width: 36px;
    height: 36px;
    border-radius: 3px;
}

#topNav .userBox .userInfo {
    width: calc(100% - 50px - 15px);
    vertical-align: top;
    display: inline-block;
}

#topNav .userBox .userInfo h4 {
    margin-top: 8px;
}

#topNav .userBox .userInfo h6 {
    font-weight: 200;
    margin-top: 2px;
}

#topNav .menuArea {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

#topNav .menuArea li{
    margin: 0 10px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    font-size: 11pt;
    cursor: pointer;
    color: #ABB2B9;
}

#topNav .menuArea .router-link-active {
    color: #EAECEE;
}

#topNav .menuArea .router-link-active svg {
    fill: #EAECEE;
}

#topNav .menuArea li svg {
    margin: 0 12.5px;
    float: left;
    margin-top: 15px;
    height: 20px;
    fill: #ABB2B9;
}

#sideNav .dropdown .toggle svg {
    margin: 0 12.5px;
    float: left;
    margin-top: 8px;
    fill: #D5D8DC;
}

#sideNav .dropdown .toggle {
    height: 40px;
    line-height: 42px;  
    font-size: 14px;
}

#sideNav #tagCloudLabel {
    width: 100%;
    height: 40px;
    margin-top: 50px;
    line-height: 44px;  
    font-size: 14px;
    border-bottom: 1px solid #2c3e50;
    text-indent: 12.5px;
}

#sideNav #tagCloud {
    width: 100%;
    height: calc(100% - 40px - 40px - 50px);
    border-bottom: 1px solid #2c3e50;
    overflow-x: hidden;
    overflow-y: scroll;
}

#sideNav #tagCloud li {
    padding: 6px 10px;
    font-size: 12.5px;
    margin: 4px 4px;
    border-radius: 3px;
    display: inline-block;
    background: #1F618D;
}

#content {
    width: calc(100% - 250px);
    margin-left: 250px;
    margin-top: 50px;
    position: relative;
}

.subContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.banner {
    width: 100%;
    height: 150px;
    background: 
    linear-gradient( to right,
      rgba(52, 73, 94 , .25), 
      rgba(52, 73, 94, .25)
    ),
    url(https://a.thumbs.redditmedia.com/1olCjjrFzT7dHUkwAw0BbuedBT7txCQiS2SDXpI7W50.png);
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #2c3e50;
}

.banner .tagline {
    color:#ebedef;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 28px;
    line-height: 150px;
}

#sortMenu {
    width: 100%;
    height: 25px;
    background: #1b2631;
}

#sortMenu > div {
    height: 100%;
}

#sortMenu > div p {
    font-size: 12px;
    line-height: 25px;
}

#sortMenu > div p span {
    font-weight: bold;
}

.post {
    width: 100%;
    max-width: 800px;
    background: #273746;
    margin-bottom: 25px;
    border-radius: 5px;
    color: #D5D8DC;
    border: 1px solid #2c3e50;
    position: relative;
}

.post > img{
    width: 100px;
    border-radius: 3px;
    margin: 10px;
    display: inline-block;
}

.post > .vote {
    width: 75px;
    height: calc(100% - 15px);
    border-left: 1px solid #2c3e50;
    position: absolute;
    right: 0;
    top: 7.5px;
}

.post > .interactions {
    width: calc(100% - 20px - 75px);
    margin-left: 10px;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #2c3e50;
    text-align: right;
}

.post > .interactions p {
    display: inline-block;
    font-size: 12.5px;
    margin-left: 10px;
}

.post > .interactions ul{
    float: left;
}

.post > .interactions ul li{
    background: red;
    border-radius: 3px;
    margin-right: 4px;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 0px 8px;
}

.post > .content  {
    display: inline-block;
    width: calc(100% - 44px - 100px - 75px);
    vertical-align: top;
    margin-top: 5px;
    line-height: 200%;
}

.post > .content  p{
    line-height: 175%;
    font-size: 15px;
    margin-bottom: 10px;
}

.post > .content  p span{
    color: #1F618D;
    padding-left: 5px;
}

#footer {
    width: 100%;
    font-size: 13px;
    width: 250px;
    line-height: 25px;
    margin-top: 10px;
    text-align: center;
}

.root {
    width: 100%;
    height: 100%;
}

/* Router transitions */

.fade-enter-active, .fade-leave-active {
    transition: opacity .16s;
  }
.fade-enter, .fade-leave-to {
    opacity: .5;
}

.rowContainer {
    width: 100%;
    height: 225px;
}

.row {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    position: absolute;
}

.rowBtnWrapper {
    width: 100%;
    height: 225px;
    position: absolute;
}

.rowBtnWrapper button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 0;
    background: #1b2631;
    top: 88px;
    position: absolute;
}

.rowBtnWrapper button:nth-child(1){
    left: -52.5px;
}

.rowBtnWrapper button:nth-child(2){
    right: -52.5px;
}

.rowTitle {
    margin-top: 25px;
    width: 100%;
    height: 75px;
    line-height: 75px;
    font-size: 25px;
    color: #D5D8DC;
}

.animeCard {
    width: 475px;
    height: calc(225px - 2px);
    background: #283747;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
}

.animeCard .thumb {
    width: 150px;
    height: 100%;
    display: inline-block;
    background-size: cover;
    background-position: center;
    border-radius: 5px 0 0 5px;
}

.animeCard .content {
    white-space: normal;
    position: relative;
    display: inline-block;
    width: calc(100% - 150px - 20px);
    margin-left: 10px;
    height: calc(100% - 10px);
    margin-top: 5px;
    vertical-align: top;
    line-height: 200%;
    color: #D5D8DC;
}


.animeCard .content h2 {
    line-height: 190%;
}

.animeCard .content p {
    font-size: 14px;
}

.animeCard .content .stats {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #2c3e50;
}

.animeCard .content .stats P {
    font-size: 12.5px;
}
